<section class="login flex justify-center pt-12">
    <div class="w-full max-w-xs">
        <form action="/otpVerify" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
          <% if(messages.error) { %>
            <span class="text-red-500 text-sm"><%= messages.error %></span>
          <% } %>
          <% if(messages.success) { %>
            <p style="color: #59b256;"><%= messages.success %></p>
          <% } %>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input
              name="email" 
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" value='<%= messages.email && messages.email %>' type="email" placeholder="Enter your email">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="otp">
              Enter OTP
            </label>
            <input
              name="otp" 
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="otp" type="text" placeholder="Enter OTP">
          </div>
          <div class="flex items-center justify-between">
            <button 
              class="btn-primary rounded text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" 
              type="submit"
            >
              Verify OTP
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/sendOtp">
              Resend OTP
            </a>
          </div>
        </form>

        <h1 style="text-align: center; font-size: 22px;padding: 5px;">Or</h1>

        <form action="/otpVerifyPhone" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error1) { %>
            <span class="text-red-500 text-sm"><%= messages.error1 %></span>
          <% } %>
          <% if(messages.success1) { %>
            <p style="color: #59b256;"><%= messages.success1 %></p>
          <% } %>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
              Phone number
            </label>
            <input
              name="phone" 
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="phone" value='<%= messages.phone && messages.phone %>' type="text" placeholder="Enter your phone">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="otp">
              Enter OTP
            </label>
            <input
              name="otp" 
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="otp" type="text" placeholder="Enter OTP">
          </div>
          <div class="flex items-center justify-between">
            <button 
              class="btn-primary rounded text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" 
              type="submit"
            >
              Verify OTP
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/sendOtp">
              Resend OTP
            </a>
          </div>
        </form>


        <p class="text-center text-gray-500 text-xs">
          &copy;2021 Sarthak Shukla. All rights reserved.
        </p>
      </div>
</section>