<div style="display: flex;justify-content: space-around;">
    <h1 class="text-xl font-bold mt-8 text-center mb-8" id="foodHere">Customer feedbacks</h1>
</div>

<div class="searchDiv">
    <button class="searchIcon"><i class="fa fa-search"></i></button>
    <input type="text" id="myInput" onkeyup="myFunction(('<%= JSON.stringify(feedbacks) %>'))" placeholder="Search for email or phone.." title="Type in a name"> 
</div>

<table class="w-full table-auto bg-white">
    <thead>
        <tr>
            <th class="px-4 py-2 text-left">Order Id</th>
            <th class="px-4 py-2 text-left">Email</th>
            <th class="px-4 py-2 text-left">Phone</th>
            <th class="px-4 py-2 text-left">Food Quality</th>
            <th class="px-4 py-2 text-left">Cleanliness</th>
            <th class="px-4 py-2 text-left">Speed</th>
            <th class="px-4 py-2 text-left">Overall Experience</th>
            <th class="px-4 py-2 text-left">Comment</th>
            <th class="px-4 py-2 text-left">Delete</th>
        </tr>
    </thead>

    <tbody>
            <% feedbacks.forEach(function(feedback) { %>
                <tr class="showItems">
                    <td class="border px-4 py-2">
                        <%= feedback.order_id %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= feedback.email %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= feedback.phone %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= feedback.quality %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= feedback.clean %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= feedback.speed %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= feedback.overall %>
                    </td>
                    <td class="border px-4 py-2">
                        <%= feedback.comment %>
                    </td>
                    <td class="border px-4 py-2">
                        <form action="/admin/delete-feedback/<%= feedback.order_id %>" method="POST">
                            <button type="submit" class="deleteBtn px-4 py-2"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            <% }) %>
    </tbody>
</table>

<script>

    function myFunction(feedbacks) {
        feedbacks = JSON.parse(feedbacks);
      let val = document.getElementById('myInput').value;
      let items = document.getElementsByClassName('showItems');
  
      for(let i=0;i<items.length; i++) {
        if(feedbacks[i].email.toLowerCase().includes(val.toLowerCase()) || feedbacks[i].phone.startsWith(val)) {
          items[i].classList.remove('hideItem');
        } else {
          items[i].classList.add('hideItem');
        }
      }
  
    }
  
</script>