<div style="display: flex;justify-content: space-around;">
    <h1 class="text-xl font-bold mt-8 text-center mb-8" id="foodHere">All Foods</h1>
    <!-- <button  class="btn-primary rounded text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" type="submit">
        Add new
    </button> -->
    <a class="mt-8 inline-block align-baseline font-bold text-lg text-blue-500 hover:text-blue-800" href="/admin/add-food">
        Add new Food
    </a>
    <a class="mt-8 inline-block align-baseline font-bold text-lg text-blue-500 hover:text-blue-800" href="/admin/feedback">
        View feedback
    </a>
</div>

<div class="searchDiv">
    <button class="searchIcon"><i class="fa fa-search"></i></button>
    <input type="text" id="myInput" onkeyup="myFunction(('<%= JSON.stringify(foods) %>'))" placeholder="Search for name, price, size, stock, or category.." title="Type in a name"> 
</div>

<table class="w-full table-auto bg-white">
    <thead>
        <tr>
            <th class="px-4 py-2 text-left">food</th>
            <th class="px-4 py-2 text-left">Name</th>
            <th class="px-4 py-2 text-left">Price</th>
            <th class="px-4 py-2 text-left">Size</th>
            <th class="px-4 py-2 text-left">Stock</th>
            <th class="px-4 py-2 text-left">Category</th>
            <th class="px-4 py-2 text-left">Edit</th>
            <th class="px-4 py-2 text-left">Delete</th>
        </tr>
    </thead>

    <tbody>
            <% foods.forEach(function(food) { %>
                <tr class="showItems">
                    <td class="border px-4 py-2">
                        <a href="#" class="text-green-600"><%= food._id %></a>
                    </td>

                    <td class="border px-4 py-2">
                        <%= food.name %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= food.price %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= food.size %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= food.stock %>
                    </td>

                    <td class="border px-4 py-2">
                        <%= food.category %>
                    </td>

                    <td class="border px-4 py-2">
                        <a href="/admin/update-food/?name=<%= food.name %>&price=<%= food.price %>&size=<%= food.size %>&stock=<%= food.stock %>&category=<%= food.category %>" class="editBtn px-4 py-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                    <td class="border px-4 py-2">
                        <form action="/admin/delete-food/<%= food.name %>" method="POST">
                            <button type="submit" class="deleteBtn px-4 py-2"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                    
                </tr>
            <% }) %>
    </tbody>
</table>

<script>
    function myFunction(foods) {
        foods = JSON.parse(foods);
        let val = document.getElementById('myInput').value;
        let items = document.getElementsByClassName('showItems');

        for(let i=0;i<items.length; i++) {
        if(foods[i].name.toLowerCase().includes(val.toLowerCase()) || foods[i].stock.toLowerCase().startsWith(val.toLowerCase()) || foods[i].size.toLowerCase().includes(val.toLowerCase()) || foods[i].category.toLowerCase().startsWith(val.toLowerCase()) || foods[i].price <= val) {
            items[i].classList.remove('hideItem');
        } else {
            items[i].classList.add('hideItem');
        }
        }

    }
</script>